<template>
    <div class="<%=data.className%>"><%=data.controllerName%> component</div>
</template>

<script>
export default {
    name: '<%=data.controllerName%>',
    data() {
        return {};
    }
};
</script>

<style lang="less" scoped>
.<%=data.className%> {
}
</style>
