<template>
    <div class="<%=data.className%>">HelloWorld component</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    name: '<%=data.controllerName%>'
});
</script>

<style lang="less" scoped>
.<%=data.className%> {
}
</style>
